<%- include('partials/header.ejs') %> 


<div class="container my-auto">
  <!-- Start of Recipe section -->
  <% if(locals.selectedRecipe && Object.keys(selectedRecipe).length>0) { %>
    <%- include('partials/recipeSection.ejs') %> 
  <% } %>
  <!-- End of Recipe section -->

  <!-- Start of Search section -->
  <%- include('partials/searchSection.ejs') %> 
  <!-- End of Search section -->

  <!-- Start of Search Results section. -->
  <% if(locals.searchResults && locals.searchResults.length>0) { %>
    <%- include('partials/recipesGrid.ejs') %>
  <% } %>
  <% if(locals.error) { %>
      <h2 class="text-center my-4"><%= error %> </h2>
  <% } %>
  <!-- End of Search Results section. -->
</div>


<script>
    document.addEventListener("DOMContentLoaded", function (event) {
      /* Shows tooltips when hovering over them */
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

      /* Smooth scroll to the search section if the id "goToSearch" is found. */
      const searchResultsSection = document.getElementById("goTosearch");
      if(searchResultsSection){
        console.log("Searched");
        searchResultsSection.scrollIntoView({behavior: "smooth", block: "start"});
      }
    });


</script>
        
<%- include('partials/footer.ejs') %> 