<%- include('partials/header.ejs') %> 


<div class="container">
    <% if(Object.keys(locals.userSearch.chosenRecipe).length>0) { %>
      <!-- Recipe section -->
      <section class="mt-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6 card bg-body-tertiary">
              <div class="d-flex flex-column">
                <div>
                  <h2 class="mt-2"><%= userSearch.chosenRecipe.title %></h2>
                </div>
                <div class="align-self-center">
                  <img class="card-img img-recipe" src=<%= userSearch.chosenRecipe.image %> class="" alt="..." onerror="this.src='https://placehold.co/312x231'">
                  
                </div>
                <div class="container mt-4">
                  <div class="row">
                    <div class="col-12 d-flex flex-row">
                      <div class="d-flex flex-column align-items-center mx-auto">
                        <img class="" src="/images/fork-and-spoon-meal-svgrepo-com.svg" width="30px" alt="">
                        <h5 class="my-auto">Servings: <%= userSearch.chosenRecipe.servings %></h5>
                      </div>
                      <div class="vr"></div>
                      <div class="d-flex flex-column align-items-center mx-auto">
                        <img class="" src="/images/alarm-clock-svgrepo-com.svg" width="30px" alt="">
                        <h5 class="my-auto"><%= userSearch.chosenRecipe.readyInMinutes %> min</h5>
                      </div>
                      <div class="vr"></div>
                      <div class="d-flex flex-column align-items-center mx-auto">
                        <img class="" src="/images/rating-svgrepo-com.svg" width="30px" alt="">
                        <div class="d-flex flex-row">
                          <h5 class="my-auto">Score: <%= Math.floor(userSearch.chosenRecipe.spoonacularScore) %></h5>
                          <img class="" src="/images/question-circle-svgrepo-com.svg" width="20px" alt="" data-bs-toggle="tooltip" data-bs-html="true" title="<p>The <b>spoonacular score compares the recipe with all the other recipes on Spoonacular.com</b>. Score 100 and the author has achieved total recipe domination. Score 0% and someone has probably managed to upload one of the worst recipes on the website.</p><p>Spoonacular's <b>top-secret formula</b> takes into consideration price (the cheaper the better!), difficulty (the easier the better!), popularity (# of Facebook likes, Pinterest pins, spoonacular saves...), and the health score.</p>">
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <h3 class="my-3">Ingredients:</h3>
                  </div>
                  <% userSearch.chosenRecipe.extendedIngredients.forEach(ingredient => { %>
                    <div class="row">
                      <!-- <div class="col-3"><img class="img-ingredient" src="https://img.spoonacular.com/ingredients_100x100/<%=ingredient.image%>" alt="" onerror="this.src='https://placehold.co/70x70'"></div> -->
                      <div class=""><%= Math.floor(ingredient.measures.metric.amount)  %> <%= ingredient.measures.metric.unitShort %> <b><%= ingredient.name %></b></div>
                    </div>
                    <div class="row">
                      <hr class="hr" />
                    </div>
                  <% }); %>
                </div>
              </div>
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
              <h3 class="">Instructions:</h3>
              <ol>
                <% userSearch.chosenRecipe.analyzedInstructions[0].steps.forEach(step => { %>
                  <li class="mb-4"><%= step.step %></li>
                <% }); %>
              </ol>
            </div>
          </div>
        </div>
        <hr class="hr my-5" />
      </section>
    <% } %>


    <h1 class="text-center">Filter your search</h1>
    <!-- Set of dropdowns for filtering recipes. -->
    <form method="POST" action="/complexSearch">
        <div class="d-flex justify-content-center column-gap-3">
          <div class="">
            <select name="selectedCousine" class="form-select" required>
                <option value="" disabled selected>Cousine:</option>
                <% cousines.forEach(cousine => {%>
                    <option value=<%=cousine%> <%if(locals.userSearch.cousine == cousine){%> selected <%}%> ><%=cousine%></option> 
                <% }); %>
            </select>
          </div>
          <div class="">
            <select name="selectedProtein" class="form-select" required>
                <option value="" disabled selected>Protein:</option>
                <% proteins.forEach(protein => {%>
                    <option value=<%=protein%> <%if(locals.userSearch.protein == protein){%> selected <%}%> ><%=protein%></option>
                <% }); %>
            </select>
          </div>
          <div class="">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
    </form>

    <% if(locals.userSearch.searchResults.length>0) { %>
      <!-- Search Results. -->
      <section class="pt-3">
        <div class="container">
          <div class="row row-cols-3 justify-content-center g-4">
            <% userSearch.searchResults.forEach(result => { %>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="search-result-card card text-bg-dark">
                  <img src=<%= result.image %> class="card-img" alt="..." onerror="this.src='https://placehold.co/312x231'">
                  <div class="card-img-overlay d-flex flex-column justify-content-around align-items-start">
                    <h5 class="card-title"><%= result.title %> </h5>
                    <form method="post">
                      <button type="submit" class="btn btn-success" formaction="/viewRecipe/<%=result.id%>">See recipe</button>
                    </form>
                  </div>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </section>
    <% } %>
</div>


<script>
    //Change the dropdown text to whatever is selectec within the corresponding dropdown list.
/*     const dropDownButtons = document.querySelectorAll('.dropdown-toggle');
    dropDownButtons.forEach(dropDownButton => {
        console.log(dropDownButton);
        const buttons = dropDownButton.nextElementSibling.querySelectorAll('button');
        buttons.forEach(button => {
            button.addEventListener('click', event => {
                dropDownButton.textContent = event.target.textContent;
            }); 
        });    
    }); */
    document.addEventListener("DOMContentLoaded", function (event) {
      const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
      const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    });
</script>
        
<%- include('partials/footer.ejs') %> 